.dog{
    background: transparent url('./spritesheet.png') 0 0 no-repeat;
    width: 300px;
    height: 203px;
    animation: dogrun 1s steps(21) infinite;
}

@keyframes dogrun {
    100% {background-position: -6300, 0;}
}


.dino{
    background: transparent url('./Walk.png') 0 0 no-repeat;
    width: 684px;
    height: 476px;
    margin: 2em, auto;
    animation: dinorun 1.75s steps(10) infinite;
}

@keyframes dinorun {
    100% {background-position: -6840, 0;}
}

