*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.wave_btn, .bg_btn, .wave_color_btn{
    cursor: pointer;
}

.controls {
    position: absolute;
    color: white;
    width: 300px;
    right: 10px;
    top: 10px;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px;
}


.control-input {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.control-input input {
    width: 160px;
}

.wave_controls, .bg_controls, .wave_color_controls{
    display: none;
}

.active {
    display: block;
}